<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
{% if app.user %}
    <script type="text/javascript" src="{{ app.request.basepath }}/js/jquery-dcjqaccordion.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/jquery-scrollTo-min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/jquery-nicescroll.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/jquery-sparkline.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/common-scripts.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/gritter/js/jquery-gritter.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/gritter-conf.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/sparkline-chart.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/zabuto-calendar.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/jquery-maskedinput-min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/monthpicker-min.js"></script>
    {% if page == '/' %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    {% endif %}
    <script type="text/javascript">
        /* <![CDATA[ */
        $(document).ready(function () {
            {% if app.user.id %}
            {% if isWelcomed < 1 %}
            var unique_id = $.gritter.add({
                title: 'Welcome to {{ title }}!',
                text: 'Please right a proper content.',
                image: '{{ app.user.email|gravatar }}',
                sticky: true,
                time: '1000',
                class_name: 'my-sticky-class'
            });
            {% endif %}
            {% endif %}

            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });

            $("#my-calendar").zabuto_calendar({
                show_previous: false,
                show_next: 1,
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                }
            });

            function myNavFunction(id) {
                $("#date-popover").hide();
                var nav = $("#" + id).data("navigation");
                var to = $("#" + id).data("to");
            }

            {% if isWelcomed < 1 %}
            $.ajax({
                url: "{{ app.request.basepath }}/user/welcomed",
                type: "POST"
            });
            {% endif %}
            {% if page == 'user' and users %}
                $('a[href="#tab2default"]').on('shown.bs.tab', function(e)
                {
                    if (map) {
                        {% if users %}
                            google.maps.event.trigger(map, 'resize');
                            {% for user in users %}
                            map.setCenter(new google.maps.LatLng(-36.7842912391317, 174.731614721057));
                            {% endfor %}
                            map.fitBounds(bounds);
                        {% endif %}
                    }
                });
            {% endif %}
            {% if page == 'box-request' %}
            $(function() {
                $( "#input-request-date" ).datepicker({
                    numberOfMonths: 1,
                    showButtonPanel: true,
                    dateFormat: 'dd/mm/yy',
                    minDate: 0
                }).css({'z-index':10000});
            });
            {% endif %}
            {% if page == 'deliveries' %}

                var dates_allowed = {
                    {% for dateInfo in datesEnabled %}
                        '{{ dateInfo }}': 1 {% if not loop.last %},{% endif %}
                    {% endfor %}
                }, monthsList = ["January", "February", "March", "April", "May",
                    "June", "July", "August", "September", "October", "November",
                    "December"
                ];


                $(function() {
                    $( "#input-pick-up-date" ).datepicker({
                        numberOfMonths: 1,
                        showButtonPanel: false,
                        dateFormat: 'dd/mm/yy',
                        minDate: 0,
                        maxDate: "+4M",
                        defaultDate: new Date({{ pickUpDate | date("Y")}}, {{ (pickUpDate | date("m")) -1}}, {{ pickUpDate | date("d")}}),
                        beforeShowDay: function(date) {

                            // prepend values lower than 10 with 0
                            function addZero(no) {
                                if (no < 10){
                                    return "0" + no;
                                }  else {
                                    return no;
                                }
                            }

                            var date_str = [
                                addZero(date.getFullYear()),
                                addZero(date.getMonth() + 1),
                                addZero(date.getDate())
                            ].join('-');

                            if (dates_allowed[date_str]) {
                                return [true, 'good_date', 'This date is selectable'];
                            } else {
                                return [false, 'bad_date', 'This date is NOT selectable'];
                            }
                        },
                        onSelect: function(value, date) {
                            var newInfo = monthsList[date.selectedMonth+1] + ' ' +date.selectedYear;
                            $('#shipmentDateInfo').val(newInfo);
                        }
                    }).css({'z-index':10000});
                });


                $("#add_row").on("click", function() {

                    var newid = 0;
                    $.each($("#tab_logic tr"), function() {
                        if (parseInt($(this).data("id")) > newid) {
                            newid = parseInt($(this).data("id"));
                        }
                    });
                    newid++;

                    var tr = $("<tr></tr>", {
                        id: "addr" + newid,
                        "data-id": newid
                    });

                    $.each($("#tab_logic tbody tr:nth(0) td"), function() {
                        var cur_td = $(this);
                        var children = cur_td.children();

                        if ($(this).data("name") != undefined) {
                            var td = $("<td></td>", {
                                "data-name": $(cur_td).data("name")
                            });

                            var c = $(cur_td).find($(children[0]).prop('tagName')).clone().val("");
                            c.attr("name", $(cur_td).data("name") + '[]');
                            c.attr("value", $(cur_td).val());
                            c.appendTo($(td));
                            td.appendTo($(tr));
                        } else {
                            var td = $("<td></td>", {
                                'text': $('#tab_logic tr').length
                            }).appendTo($(tr));
                        }
                    });

                    $(tr).appendTo($('#tab_logic'));
                    $(tr).find("td button.row-remove").on("click", function() {
                        $(this).closest("tr").remove();
                    });
                });

                $("td button.row-remove").on("click", function() {
                    $(this).closest("tr").remove();
                });

                // Sortable Code
                var fixHelperModified = function(e, tr) {
                    var $originals = tr.children();
                    var $helper = tr.clone();

                    $helper.children().each(function(index) {
                        $(this).width($originals.eq(index).width())
                    });

                    return $helper;
                };

                $(".table-sortable tbody").sortable({
                    helper: fixHelperModified
                }).disableSelection();
                $(".table-sortable thead").disableSelection();

                $("#add_row").trigger("click");
            {% endif %}
            {% if page == '/' and is_granted('ROLE_ADMIN') %}

                var Script = function () {
                    $(function () {

                        var earnings_data = [
                            {% for monthly in monthlyInfo %}
                                {"period": "{{ monthly.infoYearMonth| date('M')}}", "earnings": {{ monthly.overallAmount}} }
                                {% if not loop.last %},{% endif %}
                            {% endfor %}
                        ];

                        Morris.Bar({
                            element: 'hero-monthly-earnings',
                            data: earnings_data,
                            xkey: 'period',
                            ykeys: ['earnings'],
                            labels: ['Earnings in NZD'],
                            barRatio: 0.4,
                            xLabelAngle: 35,
                            hideHover: false,
                            barColors: ['#4a8bc2'],
                            yLabelFormat: function (y) {
                                return '$' + y.toString();
                            }
                        });

                        var bookings_data = [
                            {% for monthly in monthlyInfo %}
                            {"period": "{{ monthly.infoYearMonth| date('M')}}", "pick ups": {{ monthly.overallBooking}} }
                            {% if not loop.last %},{% endif %}
                            {% endfor %}
                        ];

                        Morris.Bar({
                            element: 'hero-monthly-pickups',
                            data: bookings_data,
                            xkey: 'period',
                            ykeys: ['pick ups'],
                            labels: ['Pick Ups'],
                            barRatio: 0.4,
                            xLabelAngle: 35,
                            hideHover: false,
                            barColors: ['#ff6c60']
                        });
                    });
                }();
            {% endif %}
            return false;
        });
        /* ]]> */
    </script>

{% else %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    $(document).ready(function (){
        $.backstretch("{{ app.request.basepath }}/img/computer-background.png", {speed: 100});
    });
    /* ]]> */
</script>
{% endif %}
</body>
</html>