<!DOCTYPE html>
<html lang="en" {% if page is defined and page == 'deliveries' %}ng-app="plunker"{% endif %}>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/js/gritter/css/jquery-gritter.css" />
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/lineicons/style.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/style-responsive.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    {% if not app.user %}
    <style type="text/css">
        .form-horizontal .control-label {
            text-align: left;
            color: #FFFFFF !important;
        }

        *::-moz-selection, label, span, p, h1, .help-inline {
            color: #FFFFFF !important;
        }

        a {
            color: #red !important;
        }
    </style>
    {% endif %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
    <script type="text/javascript" src="https://www.addressfinder.co.nz/assets/v2/widget.js"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
</head>
<body>