<footer class="site-footer">
    <div class="text-center">
        {{ "now"|date("Y") }} - {{ title }}
        <a href="{{ app.request.basepath }}#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>