<!--header start-->
<header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="/" class="logo"><b>{{ title }}</b></a>
    <!--logo end-->
    {% if is_granted('ROLE_ADMIN') %}
    <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
            <!-- settings start -->
            {% if latest_bookings|length > 0 %}
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="{{ app.request.basepath }}#">
                    <i class="fa fa-tasks"></i>
                    <span class="badge bg-theme">{{ latest_bookings|length }}</span>
                </a>
                <ul class="dropdown-menu extended inbox">
                    <div class="notify-arrow notify-arrow-green"></div>
                    <li>
                        <p class="green">You have {{ latest_bookings|length }} pending pick up{% if latest_bookings|length > 1 %}s{% endif %}</p>
                    </li>
                    {% for user in latest_bookings %}
                        <li>
                            <a href="{{ path('USER.BOX.DETAILS', {'id': user.pnzCode | lower}) }}">
                                <span class="photo"><img alt="avatar" src="{{ user.bookingUserEmail|gravatar }}"></span>
                                <span class="subject">
                                <span class="from">{{ user.bookingUserName }}</span>
                                <span class="message">{{ user.bookingUserAddress |slice(0, 30) }} ...<br><code>Pick up {{ user.pickUpDate|date("jS M") }}</code></span>
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{{ path('USER.PICK.UP') }}">See all pick up{% if latest_bookings|length > 1 %}s{% endif %}</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if latest_users|length > 0 %}
            <li id="header_inbox_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="{{ app.request.basepath }}#">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-theme">{{ latest_users|length }}</span>
                </a>
                <ul class="dropdown-menu extended inbox">
                    <div class="notify-arrow notify-arrow-green"></div>
                    <li>
                        <p class="green">You have {{ latest_users|length }} new user{% if latest_users|length > 1 %}s{% endif %}</p>
                    </li>
                    {% for user in latest_users %}
                    <li>
                        <a href="{{ path('user.view', {'id': user.id}) }}">
                            <span class="photo"><img alt="avatar" src="{{ user.email|gravatar }}"></span>
                            <span class="subject">
                            {% if user.name | length > 15  %}
                            <span class="from">{{ user.name |slice(0, 12) }}...</span>
                            {% else %}
                                <span class="from">{{ user.name }}</span>
                            {% endif %}
                            <span class="time">{{ user.timeCreated|elasped }}</span>
                            </span>
                            <span class="message">{{ user.address |slice(0, 30) }} ...</span>
                        </a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="{{ path('user.list') }}">See all member{% if latest_users|length > 1 %}s{% endif %}</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            <!-- inbox dropdown end -->
        </ul>
        <!--  notification end -->
    </div>
    {% endif %}
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li><a class="logout" href="{{ path('user.logout') }}">Logout</a></li>
        </ul>
    </div>
</header>
<!--header end-->