<!-- CALENDAR-->
<h3>SHIPMENT SCHEDULE</h3>
<div id="calendar" class="mb">
        <div class="panel green-panel no-margin">
        <div class="panel-body">
            <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                <div class="arrow"></div>

                <h3 class="popover-title" style="disadding: none;"></h3>
                <div id="date-popover-content" class="popover-content"></div>
            </div>
            <div id="my-calendar"></div>
        </div>
    </div>
</div><!-- / calendar -->
<h3>SHIPMENT ADVISORY</h3>
<!-- First Member -->
<div class="desc">
    <div class="panel-body">
        <div style="text-align: justify;">To ensure timely deliveries of Christmas presents to your loved ones we recommend: <br><br>
            <ul class="list-unstyled" style="line-height: 2">
                <li><span class="fa fa-check text-success"></span> Boxes going to Visayas and Mindanao areas should be sent <b><code>not later</code></b> than 15th of September shipment</li>
                <li><span class="fa fa-check text-success"></span> Boxes going to Luzon and Manila areas should be sent <b><code>not later</code></b> than 15th of October</li>
                <li><span class="fa fa-check text-success"></span> All shipment are subject</li>
            </ul>
        </div>
    </div>
</div>