<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href="{{ path('user.edit', {'id': app.user.id}) }}"><img src="{{ app.user.email|gravatar }}" class="img-circle" width="60"></a></p>
            <h5 class="centered">{{ app.user.displayName }}</h5>
            <li class="mt">
                <a href="/" {% if page == '/' %}class="active"{% endif %}>
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="sub-menu">
                <a href="{{ path('USER.PICK.UP') }}" {% if page == 'pickup' or page == 'admin_pickup' %}class="active"{% endif %}>
                    <i class="fa fa-truck"></i>
                    <span>&nbsp;Pick Ups</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('USER.BOX.REQUESTS') }}" {% if page == 'box-requests' %}class="active"{% endif %}>
                    <i class="fa fa-folder-open"></i>
                    <span>&nbsp;Box Requests</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('user.list') }}" {% if page == 'user' %}class="active"{% endif %}>
                    <i class="fa fa-users"></i>
                    <span>Users</span>
                </a>
            </li>
            {% else %}
                <li class="sub-menu dcjq-parent-li">
                    <a href="javascript:;" {% if page == 'deliveries' or page == 'delivery_history' or page == 'box-request' %}class="dcjq-parent active"{% endif %}>
                        <i class="fa fa-truck"></i>
                        <span>Balik Bayan Boxes</span>
                        <span class="dcjq-icon"></span>
                    </a>
                    <ul class="sub">
                        <li><a href="{{ path('USER.MY_DELIVERIES') }}" {% if page == 'deliveries' %}class="sub-active"{% endif %}>Create delivery box</a></li>
                        <li><a href="{{ path('USER.DELIVERY.HISTORY') }}" {% if page == 'delivery_history' %}class="sub-active"{% endif %}>Delivery History</a></li>
                        <li><a href="{{ path('USER.BOX.REQUEST') }}" {% if page == 'box-request' %}class="sub-active"{% endif %}>Request for a box</a></li>
                    </ul>
                </li>
            {% endif %}
            <li class="sub-menu">
                <a href="{{ path('USER.DELIVERY.RATES') }}" {% if page == 'delivery' %}class="active"{% endif %}>
                    <i class="fa fa-dollar"></i>
                    <span>&nbsp;&nbsp;Delivery Rates</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('USER.SHIPMENT.SCHEDULE') }}" {% if page == 'shipment' %}class="active"{% endif %}>
                    <i class="fa fa-calendar"></i>
                    <span>Schedules</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('USER.CONTACT.US') }}" {% if page == 'contact' %}class="active"{% endif %}>
                    <i class="fa fa-phone"></i>
                    <span>&nbsp;Contact Us</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->