{% extends layout_template  %}

{% block title %}Edit User: {{ user.displayName }}{% endblock %}

{% block contentUser %}

    <h1>Edit User: {{ user.displayName }}</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error|nl2br }}</div>
    {% endif %}

    <form class="form-horizontal" method="POST">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">
                Gravatar image<br>
                <a href="http://gravatar.com">Change</a>
            </label>
            <div class="col-sm-8 form-control-static">
                <img src="{{ user.email|gravatar }}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">Name</label>
            <div class="col-sm-8">
                <input class="form-control" name="name" type="text" id="input-name" placeholder="Name" value="{{ user.name }}">
                <p class="help-block">Shown publicly</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-email">Email</label>
            <div class="col-sm-8">
                <input class="form-control" name="email" type="email" id="input-email" placeholder="Email" required value="{{ user.email }}">
                <p class="help-block">Never shared</p>
            </div>
        </div>

        {% if isUsernameRequired or user.hasRealUsername %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-name">Username</label>
                <div class="col-sm-8">
                    <input class="form-control" name="username" type="text" id="input-username" placeholder="Username" value="{{ user.realUsername }}">
                </div>
            </div>
        {% endif %}

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-password">New password</label>
            <div class="col-sm-8">
                <input class="form-control" name="password" type="password" id="input-password" placeholder="New password">
                <p class="help-block">Leave blank except to change</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-confirm-password">Confirm password</label>
            <div class="col-sm-8">
                <input class="form-control" name="confirm_password" type="password" id="input-confirm-password" placeholder="Confirm password">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="address">Address:</label>
            <div class="col-sm-8">
                <input class="form-control" name="address" type="text" id="address" required placeholder="Address e.g. 1 Coronation Road Glenfield" value="{{ user.address }}">
                <input name="suburb" type="hidden" id="suburb" value="{{ user.suburb }}">
                <input name="location_id" type="hidden" id="location_id" value="{{ location_id }}">
                <input name="geocode_x" type="hidden" id="geocode_x" value="{{ geocode_x }}">
                <input name="geocode_y" type="hidden" id="geocode_y" value="{{ geocode_y }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-mobile">Mobile:</label>
            <div class="col-sm-8">
                <input class="form-control" name="mobile" type="text" id="input-mobile" required placeholder="Mobile e.g. 64211234567" value="{{ user.mobile }}">
            </div>
        </div>

        {% if customFields %}
            {% for field,label in customFields %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-{{ field }}">{{ label }}</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="input-{{ field }}" name="{{ field }}" value="{{ user.getCustomField(field) }}">
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Save</button>
                <a style="margin-left: 10px;" href="{{ path('user.view', {'id': user.id}) }}">Back to profile</a>
            </div>
        </div>

    </form>
    <script type="text/javascript">
        var widget, map, marker;
        window.onload = function(){
            widget = new AddressFinder.Widget(document.getElementById("address"), "{{ address_finder_key }}", {show_locations:false});

            widget.on("result:select",function (value,data) {
                $('#suburb').val(data.suburb);
                $('#geocode_x').val(data.x);
                $('#geocode_y').val(data.y);
            });
        };

    </script>
{% endblock %}
