{% extends layout_template  %}

{% block title %}Forgot your password?{% endblock %}

{% block content %}

    <h1>Forgot your password?</h1>

    <p class="text-muted lead">
        Enter your email address below and we'll send you password reset instructions.
    </p>

    {% if error %}
        <div class="alert alert-danger">{{ error|nl2br }}</div>
    {% endif %}

    <form class="form-horizontal" method="POST" action="{{ path('user.forgot-password') }}">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail">Your email address</label>
            <div class="col-sm-8">
                <input class="form-control" name="email" type="text" id="inputEmail" required value="{{ email }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Send me reset instructions</button>
                <a href="{{ path('user.login') }}" style="margin-left: 10px;">Back to login</a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2" style="margin-top: 20px;"><span>
                <hr/>
                If you don't get an email within a few minutes, make sure to check your spam or junk folder.
                The sender is <strong>{{ fromAddress }}</strong>.</span>
            </div>
        </div>
    </form>


{% endblock %}
