{% extends "layout.twig" %}

{% if app.user %}

    {% block contentUser %}
    <section id="container" >
        {% include "users/header.twig" %}
        {% include "users/sidebar.twig" %}
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row mt">
                    <div class="col-lg-9">
                        <div class="showback">
                            <h4>
                                <i class="fa fa-angle-right"></i>
                                Export Declaration Details
                            </h4>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="invoice-title">
                                        <div class="row">
                                            <div class="col-xs-6"><h3>Shippers Export Declaration & Packing List</h3></div>
                                            <div class="col-xs-6"><h3 class="pull-right">PNZ NO/s. <code>{{ booking.pnzCode | lower |replace({'pnz' : ''})  }}</code></h3><br><a target="_blank" href="{{ path('USER.BOX.DETAILS.PUBLIC', {'id': booking.pnzCode | lower}) }}" class="btn" style="font-size:15px !important;"><i class="fa fa-print"></i>&nbsp;Print a copy</a></div>
                                        </div>
                                    </div>
                                    <hr style="width: 100%">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <address>
                                                <strong>Shipper/Sender Information:</strong><br>
                                                {{ booking.senderName }}<br>
                                                {{ booking.senderAddress|wrap|raw }}<br>
                                                {{ booking.senderEmail }}<br>
                                                {{ booking.senderPhone | msisdn}}<br>
                                            </address>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <address>
                                                <strong>Deliver To/Consignee:</strong><br>
                                                {{ booking.deliveryName }}<br>
                                                {{ booking.deliveryAddress|wrap|raw }}<br>
                                                {{ booking.deliveryEmail }}<br>
                                                {{ booking.deliveryPhone }}<br>
                                            </address>
                                        </div>
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <form method="POST" action="{{ path('BOX.STATUS.UPDATE', {'id': booking.pnzCode | lower}) }}">
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-xs-6 text-left">
                                            <address>
                                                <strong>Status:</strong><br>
                                                {% if booking.isPickedUp == 1 %}
                                                    <div class="btn btn-success" disabled>Picked Up</div>
                                                {% elseif booking.isPickedUp == 0 %}
                                                    <div class="btn btn-warning" disabled>Waiting for pick up</div>
                                                {% elseif booking.isPickedUp == 2 %}
                                                    <form method="POST" action="{{ path('BOX.STATUS.SENDPICKUP', {'id': booking.pnzCode | lower}) }}">
                                                        <button name="send-for-pickup" class="btn btn-info">Request for pick up</button>
                                                    </form>
                                                {% endif %}
                                            </address>
                                        </div>
                                        {% if is_granted('ROLE_ADMIN') and booking.isPickedUp == 0 %}
                                        <div class="col-xs-6 text-right">
                                            <address>
                                                <strong>Change Status:</strong><br>
                                                <button class="btn btn-success">Set as picked up</button>
                                            </address>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    </form>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <address>
                                                <strong>Export Delivery Amount:</strong><br>
                                                <code style="font-size: 15px;">$ {{ booking.amount }} NZD</code>
                                            </address>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <address>
                                                <strong>Pick Up Date:</strong><br>
                                                {{ booking.pickUpDate | date('F j, Y')  }}<br><br>
                                            </address>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <address>
                                                <strong>Additional Charges:</strong><br>
                                                <code style="font-size: 15px;">$ {{ booking.additionalCharges }} NZD</code>
                                            </address>
                                        </div>
                                        <div class="col-xs-6 text-right">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <address>
                                                <strong>Estimated Box Amount:</strong><br>
                                                <code style="font-size: 15px;">$ {{ booking.estimatedAmount }} NZD</code>
                                            </address>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <address>
                                                <strong>Box Type:</strong><br>
                                                {{ booking.boxTypeName }}<br><br>
                                            </address>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><strong>Export Details Summary</strong></h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-condensed table-striped">
                                                    <thead>
                                                    <tr>
                                                        <td><strong>Item Description</strong></td>
                                                        <td><strong>Category</strong></td>
                                                        <td class="text-center"><strong>Price</strong></td>
                                                        <td class="text-right"><strong>Quantity</strong></td>
                                                        <td class="text-right"><strong> Totals</strong></td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for bookingItems in booking.bookingItems %}
                                                        <tr>
                                                            <td>{{ bookingItems.name }}</td>
                                                            <td>{{ bookingItems.categoryName }}</td>
                                                            <td class="text-center">$ {{ bookingItems.amount }} NZD</td>
                                                            <td class="text-right">{{ bookingItems.quantity }}</td>
                                                            <td class="text-right">$ {{ bookingItems.amount }} NZD</td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td class="thick-line"></td>
                                                        <td class="thick-line"></td>
                                                        <td class="thick-line"></td>
                                                        <td class="thick-line text-right"><strong>Estimated Box Amount</strong></td>
                                                        <td class="thick-line text-right">$ {{ booking.estimatedAmount }} NZD</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        {% if booking.remarks %}
                                        <div class="panel-body"><strong>Remarks: {{ booking.remarks }}</strong></div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <code style="font-size: 15px;"><strong>Note:</strong>Additional charges may apply depending on pick up area.</code>
                                </div>
                                <div class="col-xs-12"><h4>Map Information for {{ booking.senderAddress }}</h4><br>
                                    <style type="text/css">
                                        #mapdiv{
                                            height:400px;
                                        }
                                    </style>
                                    <div id="mapdiv"></div>
                                    <script type="text/javascript">
                                        var widget, map, marker, data = '{{ booking.senderAddress|e('js') }}';
                                        map = new google.maps.Map(document.getElementById("mapdiv"),{
                                            center: new google.maps.LatLng(-41.28, 174.8),
                                            zoom: 4,
                                            mapTypeId: google.maps.MapTypeId.ROADMAP
                                        });

                                        var point = new google.maps.LatLng({{ booking.bookingUserGeocodeY }}, {{ booking.bookingUserGeocodeX }});
                                        map.setCenter(point);
                                        map.setZoom(18);
                                        marker = new google.maps.Marker({
                                            position: point,
                                            map: map,
                                            icon: '{{ app.request.basepath }}/img/information.png'
                                        });
                                    </script>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ds">
                        {% include "users/right.sidebar.twig" %}
                    </div>
                </div>
            </section>
        </section>
        <!--footer start-->
        {% include "users/footer.twig" %}
        <!--footer end-->
    </section>
    {% endblock %}

{% endif %}
