{% extends "layout.twig" %}

{% if app.user %}

    {% block contentUser %}
    <section id="container" >
        {% include "users/header.twig" %}
        {% include "users/sidebar.twig" %}
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row mt">
                    <div class="col-lg-9">
                        <div class="showback">
                            <h4>
                                <i class="fa fa-angle-right"></i>
                                Contact Us
                            </h4>
                            <!-- Example row of columns -->
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h3><i class="fa fa-map-marker"></i> Location</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div id="map"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="panel well">
                                        <div class="panel-heading">
                                            <h3><i class="fa fa-hand-o-down"></i> Our office</h3>
                                        </div>
                                        <div class="panel-body">
                                            <address>
                                                <strong>FOREX UMAC, Inc.</strong><br>
                                                6A Lingfield Street<br>
                                                Glenfield North Shore Auckland<br>
                                                <a href="mailto:info@forexumac.co.nz"><i class="fa fa-keyboard-o"></i> info@forexumac.co.nz</a><br>
                                                <i class="fa fa-phone"></i> + 64 (09) 444-1693<br>
                                                <i class="fa fa-mobile"></i> + 64 (21) 029-46403 - Lolit Encela<br>
                                                <i class="fa fa-mobile"></i> + 64 (22) 609-0748 - Eric Encela
                                            </address>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="panel well">
                                        <div class="panel-heading">
                                            <h3><i class="icon-pushpin main-color"></i> Visit our Facebook Page</h3>
                                        </div>
                                        <div class="panel-body">
                                            <a href="http://www.facebook.com/forexumac" target="_blank"><i class="fa fa-facebook" style="font-size: 5em"></i> www.facebook.com/forexumac</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ds">
                        {% include "users/right.sidebar.twig" %}
                    </div>
                </div>
            </section>
        </section>
        <style type="text/css">
            #map{
                height:300px;
            }
        </style>
        <script type="text/javascript">
            var widget, map, marker;
            map = new google.maps.Map(document.getElementById("map"),{
                center: new google.maps.LatLng(-41.28, 174.8),
                zoom: 4,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            if (marker){
                marker.setMap(null);
            }

            var point = new google.maps.LatLng(-36.7842912391317,174.731614721057);
            map.setCenter(point);
            map.setZoom(18);
            marker = new google.maps.Marker({
                position: point,
                map: map,
                icon:
                {% if is_granted('ROLE_ADMIN') %}
                '{{ app.request.basepath }}/img/house.png'
                {% else %}
                '{{ app.request.basepath }}/img/information.png'
                {% endif %}
            });
            var infowindow = new google.maps.InfoWindow({
                content: '6A Lingfield Street, Glenfield, North Shore Auckland 0629'
            });
            infowindow.open(map,marker);


        </script>
        <!--footer start-->
        {% include "users/footer.twig" %}
        <!--footer end-->
    </section>
    {% endblock %}

{% endif %}
