{% extends "layout.twig" %}

{% if app.user %}

    {% block contentUser %}
    <section id="container" >
        {% include "users/header.twig" %}
        {% include "users/sidebar.twig" %}
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row mt">
                    <div class="col-lg-9">
                        <div class="showback">
                            <h4>
                                <i class="fa fa-angle-right"></i>
                                Delivery Rates
                            </h4>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th><strong>Deliver To</strong></th>
                                                {% for boxType in boxTypes %}
                                                <th><strong>{{ boxType.description }}</strong></th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for boxPricing in boxPricings %}
                                                    {% if loop.index % 2 != 0 %}
                                                    <tr>
                                                        <td><strong>{{ boxPricing.boxLocationName }}</strong></td>
                                                        <td><strong>${{ boxPricing.amount }}</strong></td>
                                                    {% else %}
                                                        <td><strong>${{ boxPricing.amount }}</strong></td>
                                                    {% endif %}

                                                    {% if loop.index % 2 == 0 %}
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12"><p><code>NOTE: Above prices are subject to change without prior notice.</code></p></div>
                                <div class="col-sm-12"><p><b>*Destinations:</b><br><br><mark><b>Luzon A</b></mark> - Batangas, Bulacan, Bataan, Cavite, Laguna, Nueva Ecija, Olongapo, Pangasinan, Pampanga, Quezon Province, Tarlac, Zambales.</p></div>
                                <div class="col-sm-12"><p><mark><b>Luzon B</b></mark> - Abra, Albay, Aurora, Baguio, Benguet, Bicol, Cagayan Valley, Camarines Norte, Camarines Sur, Ilocos Norte, Ilocos Sur, Isabela, Kalinga, La Union, Legaspi, Mountain Province, Nueva Vizcaya, Quirino, Sorsogon</p></div>
                                <div class="col-sm-12"><p><mark><b>Islands</b></mark> - Alabat, Catanduanes, Marinduque, Mindoro, Palawan</p></div>
                                <div class="col-sm-12">
                                    <p><code>NOTE: There will be extra charges of <strong>${{ extraCharges[0].pickUpExtraCharge }}NZD</strong> for following suburbs for pick up:
                                    {% for location in extraCharges %}
                                        {{ location.name }}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                    </code></p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ds">
                        {% include "users/right.sidebar.twig" %}
                    </div>
                </div>
            </section>
        </section>
        <!--footer start-->
        {% include "users/footer.twig" %}
        <!--footer end-->
    </section>
    {% endblock %}

{% endif %}
