{% extends "layout.twig" %}

{% if app.user %}

    {% block contentUser %}
    <section id="container" >
        {% include "users/header.twig" %}
        {% include "users/sidebar.twig" %}
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row mt">
                    <div class="col-lg-9">
                        <div class="showback">
                            <h4>
                                <i class="fa fa-angle-right"></i>
                                Delivery History
                            </h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div>
                                        {% if app.session.flashbag.has('alert') %}
                                            {% for flashMessage in app.session.flashbag.get('alert') %}
                                                <div class="alert alert-info">{{ flashMessage }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            {% if bookings %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th colspan="2" class="text-center">Sender Information</th>
                                                                <th colspan="2" class="text-center">Delivery Information</th>
                                                                <th colspan="4" class="text-center">Box</th>
                                                                <th rowspan="2" class="text-center">Status</th>
                                                                <th rowspan="2" class="text-center">Delete</th>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-left"><strong>Name</strong></td>
                                                                <td class="text-left"><strong>Address</strong></td>
                                                                <td class="text-left"><strong>Name</strong></td>
                                                                <td class="text-left"><strong>Address</strong></td>
                                                                <td class="text-left"><strong>PNZ Code</strong></td>
                                                                <td class="text-left"><strong>Amount</strong></td>
                                                                <td class="text-left"><strong>Type</strong></td>
                                                                <td class="text-left"><strong>Pick Up Date</strong></td>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for booking in bookings %}
                                                                <tr>
                                                                    <td class="text-left">{{ booking.senderName }}</td>
                                                                    <td class="text-left">{{ booking.senderAddress }}</td>
                                                                    <td class="text-left">{{ booking.deliveryName }}</td>
                                                                    <td class="text-left">{{ booking.deliveryAddress }}</td>
                                                                    {% if booking.isPickedUp == 1 or booking.isPickedUp == 0 %}
                                                                    <td class="text-left"><a href="{{ path('USER.BOX.DETAILS', {'id': booking.pnzCode | lower}) }}" target="_blank">{{ booking.pnzCode | upper }}</a></td>
                                                                    {% else %}
                                                                    <td class="text-left"><a href="{{ path('USER.MY_DELIVERIES.EDIT', {'id': booking.pnzCode | lower}) }}" target="_blank">{{ booking.pnzCode | upper }}</a></td>
                                                                    {% endif %}
                                                                    <td class="text-left">${{ booking.amount }}NZD</td>
                                                                    <td class="text-left">{{ booking.boxTypeName }}</td>
                                                                    <td class="text-left">{{ booking.pickUpDate |date("d/m/Y") }}</td>
                                                                    <td class="text-left">
                                                                        {% if booking.isPickedUp == 1 %}
                                                                            <div class="btn btn-success" disabled>Picked Up</div>
                                                                        {% elseif booking.isPickedUp == 0 %}
                                                                            <div class="btn btn-warning" disabled>Waiting for pick up</div>
                                                                        {% elseif booking.isPickedUp == 2 %}
                                                                            <form method="POST" action="{{ path('BOX.STATUS.SENDPICKUP', {'id': booking.pnzCode | lower}) }}">
                                                                                <button name="send-for-pickup" class="btn btn-info">Request for pick up</button>
                                                                            </form>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td class="text-left">
                                                                        {% if booking.isPickedUp == 2 %}
                                                                        <form method="POST" action="{{ path('BOX.STATUS.DELETEPICKUP', {'id': booking.pnzCode | lower}) }}">
                                                                            <button name="delete_{{ booking.id }}" class="btn btn-danger glyphicon glyphicon-remove row-remove"></button>
                                                                        </form>
                                                                        {% else %}
                                                                        <div name="delete_{{ booking.id }}" disabled class="btn btn-danger glyphicon glyphicon-remove row-remove"></div>
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="row">
                                                <div class="col-sm-12">No confirmed pick ups</div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ds">
                        {% include "users/right.sidebar.twig" %}
                    </div>
                </div>
            </section>
        </section>
        <!--footer start-->
        {% include "users/footer.twig" %}
        <!--footer end-->
    </section>
    {% endblock %}

{% endif %}
