{% extends "layout.twig" %}

{% if app.user %}

    {% block contentUser %}
    <section id="container" >
        {% include "users/header.twig" %}
        {% include "users/sidebar.twig" %}
        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-9 main-chart">
                        <div class="showback">
                            <h4>
                                <i class="fa fa-angle-right"></i>
                                Dashboard<br>
                            </h4>

                            <div class="row mtbox">
                                <div class="col-md-12">
                                    {% if app.session.flashbag.has('alert') %}
                                        {% for flashMessage in app.session.flashbag.get('alert') %}
                                            <div class="alert alert-info">{{ flashMessage }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {% if is_granted('ROLE_ADMIN') %}
                                <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                                    <div class="box1">
                                        <i class="fa fa-users" style="font-size: 5em"></i>
                                        <h3>{{ generalInfo.totalUsers }}</h3>
                                        <div>Total number of users.</div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 box0">
                                    <div class="box1">
                                        <i class="fa fa-dollar" style="font-size: 5em"></i>
                                        <h3>${{ generalInfo.totalBookingsAmount }}</h3>
                                        <div>Overall earnings.</div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 box0">
                                    <div class="box1">
                                        <i class="fa fa-clock-o" style="font-size: 5em"></i>
                                        <h3>{{ generalInfo.totalBookings - generalInfo.totalConfirmedBookings}}</h3>
                                        <div>Pending pick up boxes.</div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 box0">
                                    <div class="box1">
                                        <i class="fa fa-truck" style="font-size: 5em"></i>
                                        <h3>{{ generalInfo.totalBookings }}</h3>
                                        <div>Overall total boxes.</div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 box0">
                                    <div class="box1">
                                        <i class="fa fa-server" style="font-size: 5em"></i>
                                        <h3>OK!</h3>
                                        <div>Server is working.</div>
                                    </div>
                                </div>
                                {% else %}
                                    <div class="col-md-3 col-sm-2 col-md-offset-1 box0">
                                        <div class="box1">
                                            <i class="fa fa-truck" style="font-size: 5em"></i>
                                            <h3><a href="{{ path('USER.MY_DELIVERIES') }}">Create Delivery Box</a></h3>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-2 box0">
                                        <div class="box1">
                                            <i class="fa fa-history" style="font-size: 5em"></i>
                                            <h3><a href="{{ path('USER.DELIVERY.HISTORY') }}">Delivery History</a></h3>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-2 box0">
                                        <div class="box1">
                                            <i class="fa fa-folder-open" style="font-size: 5em"></i>
                                            <h3><a href="{{ path('USER.BOX.REQUEST') }}">Request A Box</a></h3>
                                        </div>
                                    </div>
                                {% endif %}
                            </div><!-- /row mt -->
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="row mt">
                            <div class="col-lg-6">
                                <div class="content-panel">
                                    <h4><i class="fa fa-angle-right"></i> Monthly Pick Ups {{ "now"|date("Y") }}</h4>
                                    <div class="panel-body">
                                        <div id="hero-monthly-pickups" class="graph"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="content-panel">
                                    <h4><i class="fa fa-angle-right"></i> Monthly Earnings {{ "now"|date("Y") }}</h4>
                                    <div class="panel-body">
                                        <div id="hero-monthly-earnings" class="graph"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-3 ds">
                        {% include "users/right.sidebar.twig" %}
                    </div>
                </div>
            </section>
        </section>
        <!--footer start-->
        {% include "users/footer.twig" %}
        <!--footer end-->
    </section>
    {% endblock %}
{% else %}
    {% block content %}
    <div id="login-page">
        <div class="container" style="margin-top:100px">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong> Sign in to continue</strong>
                        </div>
                        <div class="panel-body">
                            <form role="form" action="{{ path('user.login_check') }}" method="POST">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                    </span>
                                                    <input class="form-control" id="inputEmail" placeholder="Email" name="_username" type="text" autofocus required value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-lock"></i>
                                                    </span>
                                                    <input class="form-control" placeholder="Password" name="_password" id="inputPassword"  type="password" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-lock"></i> SIGN IN</button><br>
                                                <a href="{{ path('user.forgot-password') }}" class="btn btn-default btn-block">Help to login</a>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="panel-footer ">
                            Don't have an account! <a href="{{ path('user.register') }}"> Sign Up Here </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
{% endif %}
