{% spaceless %}
{% include "elements/header.twig" %}
    {% if app.user %}
        {% block contentUser %}{% endblock %}
    {% else %}
        {% if app.session.flashbag.has('alert') %}
            {% for flashMessage in app.session.flashbag.get('alert') %}
                <div class="alert alert-info">{{ flashMessage }}</div>
            {% endfor %}
        {% endif %}
        <div class="container">
        {% block content %}{% endblock %}
        </div>
    {% endif %}
{% include "elements/analytics.twig" %}
{% include "elements/footer.twig" %}
{% endspaceless %}