{% extends "layout.twig" %}

{% if app.user %}

    {% block contentUser %}
    <section id="container" >
        {% include "users/header.twig" %}
        {% include "users/sidebar.twig" %}
        <section id="main-content">
            <section class="wrapper">
                <div class="row mt">
                    <div class="col-lg-9">
                        <div class="showback">
                            <h4>
                                <i class="fa fa-angle-right"></i>
                                Users
                            </h4>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel with-nav-tabs panel-default">
                                        <div class="panel-heading">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab1default" data-toggle="tab">View By List</a></li>
                                                <li><a href="#tab2default" data-toggle="tab" id="view-by-map">View By Map</a></li>
                                            </ul>
                                        </div>
                                        <div class="panel-body">
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active" id="tab1default">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            {% if paginator.totalItems == 1 %}
                                                                <strong>1</strong> user found.
                                                            {% else %}
                                                                <strong>{{ paginator.totalItems }}</strong> users found.
                                                            {% endif %}
                                                            Showing <strong>{{ paginator.currentPageFirstItem }} - {{ paginator.currentPageLastItem }}</strong>.
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        {% for user in users %}
                                                            <div class="col-md-4 mb">
                                                                <div class="panel">
                                                                    <div class="media">
                                                                        <div class="media-left">
                                                                            <a class="pull-left" href="{{ path('user.view', {'id': user.id}) }}">
                                                                                <img src="{{ user.email|gravatar }}" width="40" height="40" class="media-object img-circle img-responsive" alt="" />
                                                                            </a>
                                                                        </div>
                                                                        <div class="media-body">
                                                                            <div>
                                                                                <div>
                                                                                    <h4><a href="{{ path('user.view', {'id': user.id}) }}">{{ user.displayName }}</a>{% if not user.isEnabled %}<small><code>Pending</code></small>{% endif %}</h4>
                                                                                </div>
                                                                                <address>{{ user.address }}
                                                                                    <br>
                                                                                    <a href="mailto:{{ user.email }}">{{ user.email }}</a><br>
                                                                                    <i class="fa fa-phone"></i> {{ user.mobile | msisdn}}<br>
                                                                                    <div class="text-muted">
                                                                                        Registered {{ user.timeCreated|date('F j, Y') }}<br>
                                                                                        No. of picked box: {{ user.totalPickUps }}
                                                                                    </div>
                                                                                </address>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 centered">{{ paginator|raw }}</div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab2default">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <style type="text/css">
                                                                #mapdiv{
                                                                    height:400px;
                                                                }
                                                            </style>
                                                            <div id="mapdiv"></div>
                                                            <script type="text/javascript">
                                                                var map, locations = [];
                                                                var bounds = new google.maps.LatLngBounds();
                                                                window.map = new google.maps.Map(document.getElementById('mapdiv'), {
                                                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                                                });

                                                                {% for user in users %}
                                                                locations.push(['<a target="_blank" href="{{ path('user.view', {'id': user.id}) }}">{{ user.displayName }}</a><br>{{ user.address }}', {{ attribute(user, 'geocode_y') }}, {{ attribute(user, 'geocode_x') }}, {{ loop.index }}]);
                                                                {% endfor %}

                                                                var infowindow = new google.maps.InfoWindow();
                                                                var i;
                                                                for (i = 0; i < locations.length; i++) {

                                                                    marker = new google.maps.Marker({
                                                                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                                                                        map: map,
                                                                        icon: '{{ app.request.basepath }}/img/information.png'
                                                                    });

                                                                    bounds.extend(marker.position);
                                                                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                                                        return function () {
                                                                            infowindow.setContent(locations[i][0]);
                                                                            infowindow.open(map, marker);
                                                                        }
                                                                    })(marker, i));
                                                                }
                                                                map.fitBounds(bounds);


                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ds">
                        {% include "users/right.sidebar.twig" %}
                    </div>
                </div>
            </section>
        </section>
        <!--footer start-->
        {% include "users/footer.twig" %}
        <!--footer end-->
    </section>
    {% endblock %}

{% endif %}
