{% extends layout_template  %}

{% block title %}Sign in{% endblock %}

{% block content %}

    {% if app.user %}
        <p>Hello, {{ app.user.displayName }}.</p>
        <p><a href="{{ path('user.logout') }}">Sign out</a></p>

    {% else %}
        <div id="login-page">
            <div class="container" style="margin-top:100px">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong> Sign in to continue</strong>
                            </div>
                            <div class="panel-body">
                                <form role="form" action="{{ path('user.login_check') }}" method="POST">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error|nl2br }}</div>
                                    {% endif %}
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                    </span>
                                                        <input class="form-control" id="inputEmail" placeholder="Email" name="_username" type="text" autofocus required value="{{ last_username }}">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-lock"></i>
                                                    </span>
                                                        <input class="form-control" placeholder="Password" name="_password" id="inputPassword"  type="password" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-lock"></i> SIGN IN</button><br>
                                                    <a href="{{ path('user.forgot-password') }}" class="btn btn-default btn-block">Help to login</a>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="panel-footer ">
                                Don't have an account! <a href="{{ path('user.register') }}"> Sign Up Here </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}