{% extends "layout.twig" %}

{% if app.user %}

    {% block contentUser %}
    <section id="container" >
        {% include "users/header.twig" %}
        {% include "users/sidebar.twig" %}
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row mt">
                    <div class="col-lg-9">
                        <div class="showback">
                            <h4>
                                <i class="fa fa-angle-right"></i>
                                Box Delivery Requests
                            </h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div>
                                        {% if app.session.flashbag.has('alert') %}
                                            {% for flashMessage in app.session.flashbag.get('alert') %}
                                                <div class="alert alert-info">{{ flashMessage }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="panel with-nav-tabs panel-default">
                                                <div class="panel-heading">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a href="#tab1default" data-toggle="tab">Pending box delivery requests</a></li>
                                                    </ul>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="tab-content">

                                                        <div class="tab-pane fade in active" id="tab1default">
                                                            {% if pendingBookings %}
                                                            <div class="agenda">
                                                                <div>
                                                                    <table class="table table-condensed table-striped table-bordered">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>Date</th>
                                                                            <th>Time</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        {% for bookings in pendingBookings %}
                                                                            <tr>
                                                                                <td class="agenda-date" class="active" rowspan="{{ bookings |length }}">
                                                                                    <div class="dayofmonth">{{ bookings.requestDate |date("d") }}</div>
                                                                                    <div class="dayofweek"><i class="fa fa-calendar" style="font-size:15px"></i> {{ bookings.requestDate |date("l") }}</div>
                                                                                    <div class="shortdate text-muted">{{ bookings.requestDate |date("F, Y") }}</div>
                                                                                </td>
                                                                                <td class="agenda-events">
                                                                                    <form class="form-horizontal style-form" action="{{ path('USER.BOX_REQUEST.UPDATE', {'id': bookings.id}) }}" method="POST">
                                                                                    <div class="agenda-event">
                                                                                        <strong>Name:</strong>&nbsp;{{ bookings.bookingUserName }}<br>
                                                                                        <strong>Address:</strong>&nbsp;{{ bookings.bookingUserAddress }}<br>
                                                                                        <strong>Mobile:</strong>&nbsp;{{ bookings.bookingUserMobile | msisdn }}<br>
                                                                                        <strong>Box Type:</strong>&nbsp;{{ bookings.boxTypeName }}<br>
                                                                                        <button name="send-for-pickup" class="btn btn-info">Set as delivered</button>
                                                                                    </div>
                                                                                    </form>
                                                                                </td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <style type="text/css">
                                                                        #mapdiv{
                                                                            height:400px;
                                                                        }
                                                                    </style>
                                                                    <div id="mapdiv"></div>
                                                                    <script type="text/javascript">
                                                                        var map, locations = [];
                                                                        var directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true});
                                                                        var directionsService = new google.maps.DirectionsService();

                                                                        var bounds = new google.maps.LatLngBounds();
                                                                        window.map = new google.maps.Map(document.getElementById('mapdiv'), {
                                                                            mapTypeId: google.maps.MapTypeId.ROADMAP
                                                                        });

                                                                        {% for bookings in pendingBookings %}
                                                                        locations.push(['<a target="_blank" href="{{ path('user.view', {'id': bookings.userId}) }}">{{ bookings.bookingUserName }}</a><br>{{ bookings.bookingUserAddress }}<br>', {{ attribute(bookings, 'bookingUserGeocodeY') }}, {{ attribute(bookings, 'bookingUserGeocodeX') }}, {{ loop.index }}]);
                                                                        {% endfor %}

                                                                        var infowindow = new google.maps.InfoWindow();
                                                                        var i, end = [];

                                                                        for (i = 0; i < locations.length; i++) {

                                                                            marker = new google.maps.Marker({
                                                                                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                                                                                map: map,
                                                                                icon: '{{ app.request.basepath }}/img/information.png',
                                                                                zIndex: 999
                                                                            });

                                                                            bounds.extend(marker.position);
                                                                            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                                                                return function () {
                                                                                    infowindow.setContent(locations[i][0]);
                                                                                    infowindow.open(map, marker);
                                                                                }
                                                                            })(marker, i));

                                                                            end.push({location:new google.maps.LatLng(locations[i][1], locations[i][2])});
                                                                        }

                                                                        var marker = new google.maps.Marker({
                                                                            position: new google.maps.LatLng({{ app.user.geocode_y }}, {{ app.user.geocode_x }}),
                                                                            map: map,
                                                                            zIndex: 999,
                                                                            icon: '{{ app.request.basepath }}/img/house.png'
                                                                        }), key = locations.length;
                                                                        bounds.extend(marker.position);
                                                                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                                                            return function () {
                                                                                infowindow.setContent('{{ app.user.address }}');
                                                                                infowindow.open(map, marker);
                                                                            }
                                                                        })(marker, key));
                                                                        map.fitBounds(bounds);

                                                                        var request = {
                                                                            origin: new google.maps.LatLng({{ app.user.geocode_y }}, {{ app.user.geocode_x }}),
                                                                            destination: new google.maps.LatLng({{ app.user.geocode_y }}, {{ app.user.geocode_x }}),
                                                                            waypoints: end,
                                                                            optimizeWaypoints: true,
                                                                            travelMode: google.maps.TravelMode.DRIVING
                                                                        };
                                                                        directionsService.route(request, function(response, status) {
                                                                            if (status == google.maps.DirectionsStatus.OK) {
                                                                                directionsDisplay.setDirections(response);
                                                                            }
                                                                        });

                                                                        directionsDisplay.setMap(map);
                                                                    </script>
                                                                </div>
                                                            </div>
                                                            {% else %}
                                                            <div class="row">
                                                                <div class="col-sm-12">No pending pick ups</div>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ds">
                        {% include "users/right.sidebar.twig" %}
                    </div>
                </div>
            </section>
        </section>
        <!--footer start-->
        {% include "users/footer.twig" %}
        <!--footer end-->
    </section>
    {% endblock %}

{% endif %}
