{% extends "layout.twig" %}

{% if app.user %}

    {% block contentUser %}
    <script type="text/javascript">
        var app = angular.module('plunker', []);

        app.config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        });

        app.controller('MainCtrl', function ($scope) {

            $scope.shipmentDateInfo = '{% if booking.shipmentDate is defined %}{{ booking.shipmentDate  | date("F Y")}}{% else %}{{ "+1 month" | date("F Y")}}{% endif %}';
            $scope.pickUpExtraCharge = {% if location.pickUpExtraCharge > 0 %}{{ location.pickUpExtraCharge }} {% else %}0 {% endif %};
            $scope.pickUpDate = '{% if booking.pickUpDate is defined %}{{ booking.pickUpDate }}{% else %}{{ "now" | date("d/m/Y")}}{% endif %}';
            $scope.amount = $scope.pickUpExtraCharge;

            $scope.pricing = [{% for pricing in boxPricings %}{
                boxTypeId: '{{ pricing.boxTypeId }}',
                boxLocationId: '{{ pricing.boxLocationId }}',
                amount: '{{ pricing.amount }}'
            }{% if not loop.last %}, {% endif %}{% endfor %}];

            $scope.change = function() {
                console.log(Math.random());
            };

            $scope.computedTotal = function () {
                for (var i = 0; i < $scope.pricing.length; i++) {
                    if ($scope.boxLocationId !== undefined && $scope.boxTypeId !== undefined) {
                        if (($scope.boxLocationId === $scope.pricing[i].boxLocationId) && ($scope.boxTypeId === $scope.pricing[i].boxTypeId)) {
                            $scope.amount = parseInt($scope.pricing[i].amount, 10) + $scope.pickUpExtraCharge;
                        }
                    }
                }
            };
        });
    </script>
    <section id="container" >
        {% include "users/header.twig" %}
        {% include "users/sidebar.twig" %}
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row mt">
                    <div class="col-lg-9">
                        <div class="showback">
                            <h4>
                                <i class="fa fa-angle-right"></i>
                                Create delivery box for pick up
                            </h4>
                            <div class="row">
                                <div class="col-sm-12">
                                    {% if errors %}
                                    <div><div class="alert alert-danger">{{ errors |nl2br }}</div></div>
                                    {% endif %}
                                    <form class="form-horizontal style-form" action="{{ path('USER.MY_DELIVERIES') }}" method="POST" ng-controller="MainCtrl">
                                        <input type="hidden" name="locationId" value="{{ location.id }}" />
                                        <div class="row-fluid">
                                            <div class="col-xs-12">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-pick-up-date">Shipment month:</label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group">
                                                                <input type="text" disabled class="form-control" name="shipmentDateInfo" id="shipmentDateInfo" ng-model="shipmentDateInfo"><div class="input-group-addon">Month and Year</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-pick-up-date">Pick up date:</label>
                                                        <div class="col-sm-8">
                                                            <input class="form-control" name="pickUpDate" data-mask="39/29/9999" type="text" id="input-pick-up-date" ng-model="pickUpDate" placeholder="Pick up date" required value="[[pickUpDate]]">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-pnz-code">Unique PNZ Code:</label>
                                                        <div class="col-sm-8">
                                                            <input class="form-control" name="pnzCode" type="text" id="input-pnz-code" placeholder="E.g. PNZ09160913" required value="{% if booking.pnzCode is defined %}{{ booking.pnzCode }}{% endif %}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-pick-up-date">Box Type:</label>
                                                        <div class="col-sm-8">
                                                            <select required ng-change="computedTotal()" ng-model="boxTypeId" name="boxTypeId" class="form-control">
                                                                <option value="">Select</option>
                                                                {% for box in boxTypes %}
                                                                <option value="{{ box.id }}">{{ box.description }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-pick-up-date">Deliver To: </label>
                                                        <div class="col-sm-8">
                                                            <select required ng-change="computedTotal()" ng-model="boxLocationId" name="boxLocationId" class="form-control">
                                                                <option value="">Select</option>
                                                                {% for locationInfo in boxLocations %}
                                                                <option value="{{ locationInfo.id }}">{{ locationInfo.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="amount">Delivery Amount:</label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">$</div><input type="text" disabled name="amount" class="form-control" id="amount" placeholder="Amount" value="[[amount]]"><div class="input-group-addon">NZD</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% if location.pickUpExtraCharge > 0 %}
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="pickUpExtraCharge">Extra Charge:</label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">$</div><input type="text" disabled name="pickUpExtraCharge" class="form-control" id="pickUpExtraCharge" placeholder="Amount" value="{{ location.pickUpExtraCharge | number_format }}"><div class="input-group-addon">NZD</div>
                                                            </div>
                                                            <code>Note: There's extra charge of ${{ location.pickUpExtraCharge }}NZD for pick up in your area.</code>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="col-xs-12">
                                                <div class="panel-heading"><strong>Shipper/Sender:</strong></div>
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-sender-name">Name:</label>
                                                        <div class="col-sm-8">
                                                            <input class="form-control" name="senderName" type="text" id="input-sender-name" placeholder="Shipper name" required value="{{ app.user.displayName }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-sender-address">Address:</label>
                                                        <div class="col-sm-8">
                                                            <input class="form-control" name="senderAddress" type="text" id="input-sender-address" placeholder="Shipper address" required value="{{ app.user.address }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-sender-email">Email:</label>
                                                        <div class="col-sm-8">
                                                            <input class="form-control" name="senderEmail" type="text" id="input-sender-email" placeholder="Shipper email" required value="{{ app.user.email }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-sender-phone">Phone:</label>
                                                        <div class="col-sm-8">
                                                            <input class="form-control" name="senderPhone" type="text" id="input-sender-phone" placeholder="Shipper phone" required value="{{ app.user.mobile | msisdn }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="col-xs-12">
                                                <div class="panel-heading"><strong>Deliver to/Consignee:</strong></div>
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-delivery-name">Name:</label>
                                                        <div class="col-sm-8">
                                                            <input class="form-control" name="deliveryName" type="text" id="input-delivery-name" placeholder="Delivery name" required value="{% if booking.deliveryName is defined %}{{ booking.deliveryName }}{% endif %}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-delivery-address">Full Address to Philippines:</label>
                                                        <div class="col-sm-8">
                                                            <input class="form-control" name="deliveryAddress" type="text" id="input-delivery-address" placeholder="Delivery address" required value="{% if booking.deliveryAddress is defined %}{{ booking.deliveryAddress }}{% endif %}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-delivery-email">Email:</label>
                                                        <div class="col-sm-8">
                                                            <input class="form-control" name="deliveryEmail" type="text" id="input-delivery-email" placeholder="Delivery email" required value="{% if booking.deliveryEmail is defined %}{{ booking.deliveryEmail }}{% endif %}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-delivery-phone">Phone:</label>
                                                        <div class="col-sm-8">
                                                            <input class="form-control" name="deliveryPhone" type="text" id="input-delivery-phone" placeholder="Delivery phone" required value="{% if booking.deliveryPhone is defined %}{{ booking.deliveryPhone }}{% endif %}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="col-xs-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped" id="tab_logic">
                                                        <thead>
                                                        <tr>
                                                            <th class="text-left" width="40%">Item Description</th>
                                                            <th class="text-left" width="30%">Category</th>
                                                            <th class="text-left" width="15%">Price in $NZD</th>
                                                            <td class="text-left" width="10%">Quantity</td>
                                                            <td class="text-left" width="5%">&nbsp;</td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr id='addr0' data-id="0" class="hidden">
                                                            <td data-name="name">
                                                                <input type="text" name='name[]' id="input-delivery-phone0" class="form-control" placeholder="Name"/>
                                                            </td>
                                                            <td data-name="categoryId">
                                                                <select name='categoryId[]' class="form-control">
                                                                    {% for category in categories %}
                                                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </td>
                                                            <td data-name="price">
                                                                <input type="text" name='price[]' placeholder='Amount' class="form-control"/>
                                                            </td>
                                                            <td data-name="quantity">
                                                                <input type="text" name='quantity[]' placeholder='Quantity' class="form-control"/>
                                                            </td>

                                                            <td data-name="del">
                                                                <button name='del0' class='btn btn-danger glyphicon glyphicon-remove row-remove'></button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <a id="add_row" class="btn btn-success pull-right">Add Another Item</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="col-xs-12">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-delivery-name">Remarks</label>
                                                        <div class="col-sm-8"><input type="text" name="remarks" id="remarks" class="form-control" placeholder="Remarks"/></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="col-xs-12">
                                                <div class="form-group text-center">
                                                    <a href="{{ path('USER.DELIVERY.HISTORY') }}" class="btn btn-danger">Cancel</a>&nbsp;&nbsp;
                                                    <button type="submit" name="save-as-draft" class="btn btn-primary">Save as draft</button>&nbsp;&nbsp;
                                                    <button type="submit" name="save-and-request-pickup" class="btn btn-primary">Save and request for pick up</button>
                                                </div>
                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ds">
                        {% include "users/right.sidebar.twig" %}
                    </div>
                </div>
            </section>
        </section>
        <!--footer start-->
        {% include "users/footer.twig" %}
        <!--footer end-->
    </section>
    {% endblock %}

{% endif %}
