{% extends "layout.twig" %}

{% if app.user %}

    {% block contentUser %}
    <section id="container" >
        {% include "users/header.twig" %}
        {% include "users/sidebar.twig" %}
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row mt">
                    <div class="col-lg-9">
                        <div class="showback">
                            <h4>
                                <i class="fa fa-angle-right"></i>
                                Pick Ups
                            </h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div>
                                        {% if app.session.flashbag.has('alert') %}
                                            {% for flashMessage in app.session.flashbag.get('alert') %}
                                                <div class="alert alert-info">{{ flashMessage }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="panel with-nav-tabs panel-default">
                                                <div class="panel-heading">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a href="#tab1default" data-toggle="tab">Pending for {{ "now"|date("F Y") }}</a></li>
                                                        <li><a href="#tab2default" data-toggle="tab" id="view-by-map">Confirmed Boxes</a></li>
                                                    </ul>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="tab-content">

                                                        <div class="tab-pane fade in active" id="tab1default">
                                                            {% if pendingBookings %}
                                                            <div class="agenda">
                                                                <div>
                                                                    <table class="table table-condensed table-striped table-bordered">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>Date</th>
                                                                            <th>Time</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        {% for bookings in pendingBookings %}
                                                                            {% for booking in bookings %}
                                                                                {% if loop.index == 1 %}
                                                                                <tr>
                                                                                    <td class="agenda-date" class="active" rowspan="{{ bookings |length }}">
                                                                                        <div class="dayofmonth">{{ booking.pickUpDate |date("d") }}</div>
                                                                                        <div class="dayofweek"><i class="fa fa-calendar" style="font-size:15px"></i> {{ booking.pickUpDate |date("l") }}</div>
                                                                                        <div class="shortdate text-muted">{{ booking.pickUpDate |date("F, Y") }}</div>
                                                                                    </td>
                                                                                    <td class="agenda-events">
                                                                                        <div class="agenda-event"><strong>Name:</strong>&nbsp;{{ booking.senderName }}<br><strong>Address:</strong>&nbsp;{{ booking.senderAddress }}<br><strong>Mobile:</strong>&nbsp;{{ booking.senderPhone| msisdn }}<br><strong>PNZCode:</strong>&nbsp;<a href="{{ path('USER.BOX.DETAILS', {'id': booking.pnzCode | lower}) }}" target="_blank">{{ booking.pnzCode | upper }}</a><br><strong>Amount:</strong>${{ booking.amount }}NZD</div>
                                                                                    </td>
                                                                                </tr>
                                                                                {% else %}
                                                                                <tr>
                                                                                    <td class="agenda-events">
                                                                                        <div class="agenda-event"><strong>Name:</strong>&nbsp;{{ booking.senderName }}<br><strong>Address:</strong>&nbsp;{{ booking.senderAddress }}<br><strong>Mobile:</strong>&nbsp;{{ booking.senderPhone| msisdn }}<br><strong>PNZCode:</strong>&nbsp;<a href="{{ path('USER.BOX.DETAILS', {'id': booking.pnzCode | lower}) }}" target="_blank">{{ booking.pnzCode | upper }}</a><br><strong>Amount:</strong>${{ booking.amount }}NZD</div>
                                                                                    </td>
                                                                                </tr>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <style type="text/css">
                                                                        #mapdiv{
                                                                            height:400px;
                                                                        }
                                                                    </style>
                                                                    <div id="mapdiv"></div>
                                                                    <script type="text/javascript">
                                                                        var map, locations = [];
                                                                        var directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true});
                                                                        var directionsService = new google.maps.DirectionsService();

                                                                        var bounds = new google.maps.LatLngBounds();
                                                                        window.map = new google.maps.Map(document.getElementById('mapdiv'), {
                                                                            mapTypeId: google.maps.MapTypeId.ROADMAP
                                                                        });

                                                                        {% for bookings in pendingBookings %}
                                                                            {% for booking in bookings %}
                                                                        locations.push(['<a target="_blank" href="{{ path('user.view', {'id': booking.userId}) }}">{{ booking.senderName }}</a><br>{{ booking.senderAddress }}<br><a href="{{ path('USER.BOX.DETAILS', {'id': booking.pnzCode | lower}) }}" target="_blank">{{ booking.pnzCode }}</a>', {{ attribute(booking, 'bookingUserGeocodeY') }}, {{ attribute(booking, 'bookingUserGeocodeX') }}, {{ loop.index }}]);
                                                                            {% endfor %}
                                                                        {% endfor %}

                                                                        var infowindow = new google.maps.InfoWindow();
                                                                        var i, end = [];

                                                                        for (i = 0; i < locations.length; i++) {

                                                                            marker = new google.maps.Marker({
                                                                                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                                                                                map: map,
                                                                                icon: '{{ app.request.basepath }}/img/information.png',
                                                                                zIndex: 999
                                                                            });

                                                                            bounds.extend(marker.position);
                                                                            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                                                                return function () {
                                                                                    infowindow.setContent(locations[i][0]);
                                                                                    infowindow.open(map, marker);
                                                                                }
                                                                            })(marker, i));

                                                                            end.push({location:new google.maps.LatLng(locations[i][1], locations[i][2])});
                                                                        }

                                                                        var marker = new google.maps.Marker({
                                                                            position: new google.maps.LatLng({{ app.user.geocode_y }}, {{ app.user.geocode_x }}),
                                                                            map: map,
                                                                            zIndex: 999,
                                                                            icon: '{{ app.request.basepath }}/img/house.png'
                                                                        }), key = locations.length;
                                                                        bounds.extend(marker.position);
                                                                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                                                            return function () {
                                                                                infowindow.setContent('{{ app.user.address }}');
                                                                                infowindow.open(map, marker);
                                                                            }
                                                                        })(marker, key));
                                                                        map.fitBounds(bounds);

                                                                        var request = {
                                                                            origin: new google.maps.LatLng({{ app.user.geocode_y }}, {{ app.user.geocode_x }}),
                                                                            destination: new google.maps.LatLng({{ app.user.geocode_y }}, {{ app.user.geocode_x }}),
                                                                            waypoints: end,
                                                                            optimizeWaypoints: true,
                                                                            travelMode: google.maps.TravelMode.DRIVING
                                                                        };
                                                                        directionsService.route(request, function(response, status) {
                                                                            if (status == google.maps.DirectionsStatus.OK) {
                                                                                directionsDisplay.setDirections(response);
                                                                            }
                                                                        });

                                                                        directionsDisplay.setMap(map);
                                                                    </script>
                                                                </div>
                                                            </div>
                                                            {% else %}
                                                            <div class="row">
                                                                <div class="col-sm-12">No pending pick ups</div>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="tab-pane fade" id="tab2default">
                                                            {% if confirmedBookings %}
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-bordered table-striped">
                                                                            <thead>
                                                                            <tr>
                                                                                <th colspan="3" class="text-center">Sender Information</th>
                                                                                <th colspan="2" class="text-center">Delivery Information</th>
                                                                                <th colspan="3" class="text-center">Box</th>
                                                                                <td rowspan="2" class="text-left"><strong>Pick Up<br>Date</strong></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="text-left"><strong>Name</strong></td>
                                                                                <td class="text-left"><strong>Address</strong></td>
                                                                                <td class="text-left"><strong>Mobile</strong></td>
                                                                                <td class="text-left"><strong>Name</strong></td>
                                                                                <td class="text-left"><strong>Address</strong></td>
                                                                                <td class="text-left"><strong>PNZ Code</strong></td>
                                                                                <td class="text-left"><strong>Amount</strong></td>
                                                                                <td class="text-left"><strong>Type</strong></td>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {% for booking in confirmedBookings %}
                                                                                <tr>
                                                                                    <td class="text-left"><a href="{{ path('user.view', {'id': booking.userId}) }}" target="_blank">{{ booking.senderName }}</a></td>
                                                                                    <td class="text-left">{{ booking.senderAddress }}</td>
                                                                                    <td class="text-left">{{ booking.senderPhone| msisdn }}</td>
                                                                                    <td class="text-left">{{ booking.deliveryName }}</td>
                                                                                    <td class="text-left">{{ booking.deliveryAddress }}</td>
                                                                                    <td class="text-left"><a href="{{ path('USER.BOX.DETAILS', {'id': booking.pnzCode | lower}) }}" target="_blank">{{ booking.pnzCode }}</a></td>
                                                                                    <td class="text-left">${{ booking.amount }}NZD</td>
                                                                                    <td class="text-left">{{ booking.boxTypeName }}</td>
                                                                                    <td class="text-left">{{ booking.pickUpDate |date("d/m/Y") }}</td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% else %}
                                                            <div class="row">
                                                                <div class="col-sm-12">No confirmed pick ups</div>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ds">
                        {% include "users/right.sidebar.twig" %}
                    </div>
                </div>
            </section>
        </section>
        <!--footer start-->
        {% include "users/footer.twig" %}
        <!--footer end-->
    </section>
    {% endblock %}

{% endif %}
