{% extends layout_template  %}

{% block title %}Register{% endblock %}

{% block content %}
    {% if app.user %}
        <p>Hello, {{ app.user.displayName }}. You are already registered and signed in.</p>
        <p><a href="{{ path('user.logout') }}">Sign out</a></p>

    {% else %}
        <h1>
            Create an account
        </h1>

        <p class="text-muted lead">
            Already have an account? <a href="{{ path('user.login') }}">Sign in now.</a>
        </p>

        {% if error %}
            <div class="alert alert-danger">{{ error|nl2br }}</div>
        {% endif %}

        <form class="form-horizontal" method="POST">

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-name">Name:</label>
                <div class="col-sm-8">
                    <input class="form-control" name="name" type="text" id="input-name" placeholder="Name" required value="{{ name }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-email">Email:</label>
                <div class="col-sm-8">
                    <input class="form-control" name="email" type="email" id="input-email" placeholder="Email" required value="{{ email }}">
                    <span class="help-inline">Never shared</span>
                </div>
            </div>

            {% if isUsernameRequired %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-username">Username:</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="username" type="text" id="input-username" placeholder="Username" required value="{{ username }}">
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-password">Password:</label>
                <div class="col-sm-8">
                    <input class="form-control" name="password" type="password" id="input-password" required placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-confirm-password">Re-type password:</label>
                <div class="col-sm-8">
                    <input class="form-control" name="confirm_password" type="password" id="input-confirm-password" required placeholder="Confirm password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="address">Address:</label>
                <div class="col-sm-8">
                    <input class="form-control" name="address" type="text" id="address" required placeholder="Address e.g. 1 Coronation Road Glenfield" value="">
                    <input name="suburb" type="hidden" id="suburb" value="">
                    <input name="geocode_x" type="hidden" id="geocode_x" value="">
                    <input name="geocode_y" type="hidden" id="geocode_y" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-mobile">Mobile:</label>
                <div class="col-sm-8">
                    <input class="form-control" name="mobile" type="text" id="input-mobile" required placeholder="Mobile e.g. 64211234567" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <div id="mapdiv"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <label><input name="terms_and_conditions" value="0" type="hidden">
                        <input aria-required="true" checked_value="1" ng-click="isDisabled = ( $event.target.check === true || $event.target.check === 1)? false : true" class="boolean required" id="registration_terms_and_conditions" name="terms_and_conditions" required="required"  type="checkbox">
                        I agree to the <a href="{{ path('TERMS') }}" target="_blank">Terms and Conditions</a>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <button type="submit" class="btn btn-lg btn-primary">Register</button>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
        <style type="text/css">
            #mapdiv{
                height:300px;
            }
        </style>
        <script type="text/javascript">
            var widget, map, marker;
            widget = new AddressFinder.Widget(document.getElementById("address"), "{{ address_finder_key }}", {show_locations:false});
            map = new google.maps.Map(document.getElementById("mapdiv"),{
                center: new google.maps.LatLng(-41.28, 174.8),
                zoom: 4,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            widget.on("result:select",function(value,data){
                if (marker){
                    marker.setMap(null);
                }
                $('#suburb').val(data.suburb);
                $('#geocode_x').val(data.x);
                $('#geocode_y').val(data.y);
                var point = new google.maps.LatLng(data.y,data.x);
                map.setCenter(point);
                map.setZoom(18);
                marker = new google.maps.Marker({
                    position: point,
                    map: map,
                    icon: '{{ app.request.basepath }}/img/information.png'
                });
                var infowindow = new google.maps.InfoWindow({
                    content: data.a.replace(/\,/g,"<br />")
                });
                infowindow.open(map,marker);

            });

        </script>
    {% endif %}
{% endblock %}
