{% extends "layout.twig" %}

{% if app.user %}

    {% block contentUser %}

    <section id="container" >
        {% include "users/header.twig" %}
        {% include "users/sidebar.twig" %}
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row mt">
                    <div class="col-lg-9">
                        <div class="showback">
                            <h4>
                                <i class="fa fa-angle-right"></i>
                                Request for a box
                            </h4>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div>
                                        {% if error is defined and error %}
                                            <div class="alert alert-danger">{{ error|nl2br }}</div>
                                        {% endif %}
                                    </div>
                                    <form class="form-horizontal style-form" action="{{ path('USER.BOX.ADD.REQUESTS', {'id': app.user.id}) }}" method="POST">
                                        <div class="row-fluid">
                                            <div class="col-xs-12">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-request-date">Delivery date:</label>
                                                        <div class="col-sm-8">
                                                            <input class="form-control" name="requestDate" data-mask="39/29/9999" type="text" id="input-request-date" placeholder="Delivery date" required value="{{ "now" | date("d/m/Y")}}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label" for="input-pick-up-date">Box Type:</label>
                                                        <div class="col-sm-8">
                                                            <select required ng-model="boxTypeId" name="boxTypeId" class="form-control">
                                                                <option value="">Select</option>
                                                                {% for box in boxTypes %}
                                                                <option value="{{ box.id }}">{{ box.description }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="col-xs-12">
                                                <div class="form-group text-center">
                                                    <a href="{{ path('HOME') }}" class="btn btn-danger">Cancel</a>&nbsp;&nbsp;
                                                    <button type="submit" name="save-and-request-delivery" class="btn btn-primary">Request for a box </button>
                                                </div>
                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ds">
                        {% include "users/right.sidebar.twig" %}
                    </div>
                </div>
            </section>
        </section>
        <!--footer start-->
        {% include "users/footer.twig" %}
        <!--footer end-->
    </section>
    {% endblock %}

{% endif %}
