{% extends "layout.twig" %}

{% if app.user %}

    {% block contentUser %}
    <section id="container" >
        {% include "users/header.twig" %}
        {% include "users/sidebar.twig" %}
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row mt">
                    <div class="col-lg-9">
                        <div class="showback">
                            <h4>
                                <i class="fa fa-angle-right"></i>
                                Cutoff and Shipment Schedules
                            </h4>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th colspan="2" class="text-right">&nbsp;</th>
                                                <th colspan="2" class="text-center">Pick Up Dates</th>
                                            </tr>
                                            <tr>
                                                <th width="25%"><strong>Month &amp; Year</strong></th>
                                                <th width="25%" class="text-left"><strong>Shipment Dates</strong></th>
                                                <th width="25%" class="text-left"><strong>Start</strong></th>
                                                <th width="25%" class="text-left"><strong>End</strong></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for schedule in schedules %}
                                                <tr>
                                                    <td>{{ schedule.name }}</td>
                                                    <td class="text-left">{{ schedule.cutOffDate|date("l jS M Y") }}</td>
                                                    <td class="text-left">{{ schedule.startDate|date("jS M Y") }}</td>
                                                    <td class="text-left">{{ schedule.endDate|date("jS M Y") }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12"><p><code>NOTE: Above schedule may change without prior notice. Cut off dates for pick up is 15 days prior to shipment and subject to number of boxes booked for shipment.<br><br><b>A $10 deposit is required for empty box request.</b></code></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ds">
                        {% include "users/right.sidebar.twig" %}
                    </div>
                </div>
            </section>
        </section>
        <!--footer start-->
        {% include "users/footer.twig" %}
        <!--footer end-->
    </section>
    {% endblock %}

{% endif %}
