{% spaceless %}
    {% include "elements/header.twig" %}


    <div class="container">
        <!--main content start-->
        <section id="main-content">

            <div class="showback">
                <h4>
                    <i class="fa fa-angle-right"></i>
                    Terms and Conditions
                </h4>
                    <!-- Example row of columns -->
                <div class="row">
                    <div class="col-sm-12 col-lg-12 text-justify">

                        By tendering goods and personal effects for shipment from Auckland, New Zealand to the Philippines via Forex Umac Express Cargo NZ Ltd. (“Company”), the shipper agrees to the terms and conditions stated herein no agent or employee of the ‘Company’ or the Shipper may alter these terms and conditions.
                        <br><br>
                        <ol>
                            <li><u>The Export Declaration and Packing List</u></li>
                            <br>
                            <div>•	The "Company" export Declaration and Packing list is non-negotiable and the shipper acknowledges that it has been prepared by the shipper or the “Company” on behalf of the shipper. The shipper warrants that it is the owner of the goods transported hereunder, or it is the authorized agent of the owner of the goods, and that the shipper hereby accepts the company’s terms and conditions for itself and as agent for and on behalf of any other person having interest in the shipment.</div>
                            <br>
                            <li><u>Shippers' obligations and Acknowledgements</u></li>
                            <br>
                            <div>
                                •	The shipper warrants that each article in the shipments properly described on this Export Declaration and the Packing list and has not been declared by the “Company” to be unacceptable for transport, and that the shipment is properly marked, addressed, and packed to ensure that safe transportation with ordinary care in handling.<br>
                                •	The shipper hereby acknowledges that the “Company” may abandon and/or release any items consigned by the shipper to the “Company” which the “Company” has declared to be unacceptable or which the shipper has undervalued for Customs purposes or misdescribed hereon, whether intentionally or otherwise, without incurring any liability whatsoever to the shipper and the shipper will save and defend, indemnity and hold the “Company” harmless from all claims, damages, fines and expenses arising there from.<br>
                                •	The shipper shall be liable for all cost and expenses related to the shipment to the shipper or warehousing the shipment pending disposition.<br>
                                •	Shipper further warrant that the consignee can be reasonably found and identified by agents of the “Company” at the point of destination, if “Company” is unable, after exercising due diligence, to locate and identify the consignee if the shipment at the address indicated on the shipment and this export declaration and packing list, “Company” shall also notify Shipper of the location of the warehouse where the shipment is deposited it shall be the obligation of the Shipper to notify his/her consignee to claim the shipment at “Company’s” designated warehouse. If the consignee does not claim the shipment at the “Company’s” designated warehouse within two months from the attempted delivery at the address indicated on the shipment, the Shipper is considered to have abandoned the shipment and the “Company” shall have the right to dispose of the contents of the shipment in any manner it deems reasonable.<br>
                            </div>
                            <br>
                            <li><u>Right of Inspection of Shipment</u></li>
                            <br>
                            <div>•	The “Company” has the right, but not the obligations, to inspect or open any shipment.</div>
                            <br>
                            Furthermore, the “Company” serves the right to refuse carriage for any person.<br>
                            <br><li><u>Limitation of Liability</u></li>
                            <br>
                            <div>
                            •	The liability of the “Company” for any loss or damage to the shipment (which term shall include all goods and effects consigned to the “Company” under this Export Declaration and Packing List) is limited to the lesser of:
                            <br>-	NZ$300 for the Jumbo box and NZ$150 for the Regular box or
                            <br>-	The actual amount of loss or damage to the goods and effects.
                            </div>
                            <br><li><u>Consequential Damages Excluded</u></li>
                            <br>
                            <div>•	The “Company” shall not be liable in any event for any consequential or special damages or other indirect loss, however arising, whether or not the “Company” had knowledge that such damages might be incurred, including but not limited to, loss of income, profile, interest, utility or loss of market.</div>
                            <br><li><u>Liabilities not assume</u></li>
                            <br><div>•	While the “Company” will endeavor to exercise its best efforts to provide expeditious delivery in accordance with regular schedules. The “Company” will not, under any circumstances, be liable for delay in pick up, transportation or delivery of any shipmen, regardless of the cause of such delay.
                                <br><div><br>
                                <div>Furthermore, the “Company” shall not be liable for any loss, damage, misdelivery, or nondelivery.</div>
                                <div>
                                <br>
                                a)	Due to act of God, force majeure occurrence or any cause reasonably beyond the control of the “Company”.
                                    <br>
                                b)	Damaged goods – if the items or goods are considered fragile.
                                    <br>
                                c)	Loss of valuables – such as precious gems, jewelry, watches, money etc.
                                    <br>
                                d)	Due to any damage or lost while being transported over water.
                                    <br>
                                e)	Caused by:
                                i.	The act default, or omission of the Shipper, the Consignee or any other party who claims an interest in the shipment (including violators of any term or condition hereof), or of any person other than the “Company” or, of any Customs or other Government officials, or of any postal services, forwarder or other entity or person to whom a shipment is tendered by the “Company” for transportation to any location not regularly served by the “Company” regardless of whether the Shipper requested or had knowledge of such third party delivery arrangement;
                                    <br>
                                ii.	The nature of the shipment or any defect, characteristics, or inherent vice thereof;
                                    <br>
                                iii.	Electrical or magnetic injury, erasure or other such damage to electronic or photographic images or recordings in any form.
                                    <br>
                                f)  Value of goods and personal effects not declared in Export Declaration and Packing List.
                                </div>
                                </div>
                            </div>
                            <br><li><u>Claims</u></li><br>
                            <div>
                        a)	Any claim must be brought by the Shipper and delivered in writing to the Main Office of the “Company” within 30 days of the date of delivery to destination. No claim may be made against the “Company” outside of the time limit.<br>
                        b)	No claim for loss or damage will be entertained until all transportation charges have been paid.<br>
                        c)	When Claims are paid, the “Company” will not reimburse the basic cost of shipment, pick up, and delivery.
                            </div>
                            <br><li><u>Applicability</u></li>
                            <br><div>
                        •	This terms and conditions shall apply to, and injure to the benefit of the “Company” and its authorized agents and affiliated companies and their officers, directors and employees.</div>

                            <br><li><u>Materials not accepted for transport</u></li>
<br><div>
                        •	The “company” will not accept commercial goods (more than a dozen of any kind) and will not carry:<br>
                        -	Currency<br>
                        -	Precious Metals<br>
                        -	Precious Stones<br>
                        -	Firearms and Ammunitions<br>
                        -	Explosives/Toy guns<br>
                        -	Money Orders<br>
                        -	Traveler's Checks<br>
                        -	Perishables<br>
                        -	Negotiable instruments in Bearer Form<br>
                        -	Electrical Appliances<br>
                        -	Lewd, Obscene, or Pornographic Materials<br>
                        -	Gambling Paraphernalia<br>
                        -	Industrial carbons and Diamonds<br>
                        -	Communication Equipment and Computers<br>
                        -	Combustible Materials/Hazardous goods<br>
                        -	Microwave ovens<br>
                        -	Property of the carriage of which is prohibited by law, regulation or statute of any federal state or local government of any country from, to or through which the shipment may be carrier.<br>
                            </div>
                            <br><li><u>Lien on goods shipped</u></li>
                            <br><div>
                        •	The “company” shall have a lien on any goods shipped for all freight charges, custom duties, advances or other charges of any kind arising out of the transportation hereunder, as well as any damages or cost that the “Company” may incur or suffer as a result of misdeclaration or non-declaration, and may refuse to surrender possession of the goods, until such charges are paid.<br>
                        •	The “Company’ shall have a lien on any goods for any damage that may arise as a result of the shipment of such goods even if such goods were declared as belonging to those listed under item #9.<br>
                        •	In the event any cheque paid by the Shipper to the “Company” pursuant to this contract is returned by the bank, unpaid for any reason, the “Company” has the right to hold Shippers’ shipment until Shipper shall have fully paid his/her obligations herein. If full payment is not received within 60 days from date shipment was picked up from shipper, the shipper is considered to have abandoned the shipment and the “Company” has the right to dispose of Shipper’s shipment in any manner it deems reasonable.<br>
                            </div><br>
                            <li>Any expenses incurred by the “Company” in behalf of shipper including but not limited to taxes, interests, penalties, fines, surcharges, duties, etc. arising from non-declaration or misdeclaration shall be reimbursed or refunded by the Shipper upon submission by the “Company” of proper proof of evidence for such expenses. In such an event, the “Company” is entitled to hold, retain or impound the shipment as surety for payment until said refund or reimbursement is fully satisfied.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
    {% include "elements/analytics.twig" %}
    {% include "elements/footer.twig" %}
    </div>
{% endspaceless %}