{% extends "layout.twig" %}

{% if app.user %}

    {% block contentUser %}
        <section id="container" >
            {% include "users/header.twig" %}
            {% include "users/sidebar.twig" %}
            <!--main content start-->
            <section id="main-content">
                <section class="wrapper">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="showback">
                                <h4>
                                    <i class="fa fa-angle-right"></i>
                                    View User: {{ user.displayName }}
                                </h4>
                                <div>
                                    <div>
                                        {% if app.session.flashbag.has('alert') %}
                                            {% for flashMessage in app.session.flashbag.get('alert') %}
                                                <div class="alert alert-info">{{ flashMessage }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <form class="form-horizontal style-form" method="POST">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-name">
                                                Gravatar image<br>
                                            </label>
                                            <div class="col-sm-9 form-control-static">
                                                <img src="{{ user.email|gravatar }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-name">Username</label>
                                            <div class="col-sm-9">
                                                <p class="form-control-static">{{ user.realUsername }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-email">Email</label>
                                            <div class="col-sm-9">
                                                <p class="form-control-static">{{ user.email }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-name">Name</label>
                                            <div class="col-sm-9">
                                                <p class="form-control-static">{{ user.name }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="address">Address:</label>
                                            <div class="col-sm-9">
                                                <p class="form-control-static">{{ user.address }}</p>
                                                <input name="id" type="hidden" id="id" value="{{ user.id }}">
                                                <input name="username" type="hidden" id="username" value="{{ user.realUsername }}">
                                                <input name="email" type="hidden" id="email" value="{{ user.email }}">
                                                <input name="suburb" type="hidden" id="suburb" value="{{ user.suburb }}">
                                                <input name="location_id" type="hidden" id="location_id" value="{{ location_id }}">
                                                <input name="geocode_x" type="hidden" id="geocode_x" value="{{ geocode_x }}">
                                                <input name="geocode_y" type="hidden" id="geocode_y" value="{{ geocode_y }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-mobile">Mobile:</label>
                                            <div class="col-sm-9">
                                                <p class="form-control-static">{{ user.mobile | msisdn }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-boxes">No of picked box:</label>
                                            <div class="col-sm-9">
                                                <p class="form-control-static">{{ user.totalPickUps }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <div id="mapdiv"></div>
                                            </div>
                                        </div>
                                    </form>
                                    <style type="text/css">
                                        #mapdiv{
                                            height:300px;
                                        }
                                    </style>
                                    <script type="text/javascript">
                                        var widget, map, marker, data = '{{ user.address|e('js') }}';
                                        map = new google.maps.Map(document.getElementById("mapdiv"),{
                                            center: new google.maps.LatLng(-41.28, 174.8),
                                            zoom: 4,
                                            mapTypeId: google.maps.MapTypeId.ROADMAP
                                        });

                                        var point = new google.maps.LatLng({{ geocode_y }}, {{ geocode_x }});
                                        map.setCenter(point);
                                        map.setZoom(18);
                                        marker = new google.maps.Marker({
                                            position: point,
                                            map: map
                                        });
                                        var infowindow = new google.maps.InfoWindow({
                                            content: data.replace(/\,/g,"<br />")
                                        });
                                        infowindow.open(map,marker);


                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 ds">
                            {% include "users/right.sidebar.twig" %}
                        </div>
                    </div>
                </section>
            </section>
            <!--footer start-->
            {% include "users/footer.twig" %}
            <!--footer end-->
        </section>
    {% endblock %}

{% endif %}